<app-top-bar></app-top-bar>
<div class="row mt-2 bg-light-subtle p-3 shadow rounded">
    <div class="col-12 col-md-6 d-flex flex-column mb-3 mb-md-0">
        <app-form-events  [editId]="eventId" (onNewEvent)="addEvent($event)"  class="mb-3"></app-form-events>
        <app-search-events class="bg-light-subtle shadow rounded" (emitSearch)="searchInput($event)"></app-search-events>
    </div>
    <div class="col-12 col-md-6 ">
        <app-list-events [listEvent]="events" (deleteEvent)="deleteEventById($event)" (editIdEmitter)="updateEventById($event)"></app-list-events>
    </div>
</div>
