<h2 class="text-center">Eventos Registrados</h2>
<hr />
<div class="justify-content-start">
  <!-- Tarea 1 -->
  <div
    *ngFor="let event of listEvent; let i = index"
    class="card shadow-sm rounded me-3 mb-3"
  >
    <div class="card-body">
        <div class="d-flex mb-2 justify-content-between align-items-center">
            <h5 class="card-title">Evento {{ i + 1 }}: {{ event.eventName }}</h5>
            <a class="btn align-items-center" (click)="updateEventById(event.id)">
                Editar
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                
              >
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </a>
        </div>
      <p class="card-text"><strong>Fecha:</strong> {{ event.eventDate }}</p>
      <p class="card-text">
        <strong>Número de asistentes:</strong> {{ event.eventAttends }}
      </p>
      <div class="d-flex mb-2 justify-content-between align-items-center">
        <a href="#" class="btn btn-primary">Ver detalles</a>
      
        <a
          href="#"
          class="btn btn-danger text-white"
          (click)="deleteEventById(event.id)"
          >Cancelar</a
        >
      </div>
    </div>
  </div>
</div>
